<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C2C193F1C7B389F00A4FA27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2C19531C7B389F00A4FA27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C2C195C1C7B389F00A4FA27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CDEFDAA1CADBE1700F1CB9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B42B2F1C1DF71CA000463691</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
